/* Google fonts Poppins family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

:root{
     --light-orange: hsl(32, 100%, 57%);
     --dark-orange: hsl(8, 89%, 15%);
     --orange: hsl(24, 96%, 45%);
     --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.2);

}

*{
    font-family: 'Poppins', sans-serif, arial;
    margin:0; padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border:none;
    transition: 0.3s all linear;
    scroll-behavior: smooth;
}

html{
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-padding-top: 5.5rem;

}
section{
    padding: 2rem 12%;
}
section:nth-child{
    background:#fff;
}

header .logo{
    color: var(--dark-orange);
    font-size:2rem;
    font-weight: bolder;

}

header .logo i{
    color: var(--light-orange);

}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .icons i,
header .icons a{
    cursor:pointer;
    margin-left: .5rem;
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--orange);
    border-radius: 50%;
    background-color: #EEE;
}

header .icons i:hover,
header .icons a:hover{
    color:#FFF;
    background-color: var(--orange);
    box-shadow: var(--box-shadow);
    transform: scale(1.09)

}


header .icons #bars{
    display:none;
}

.home .home-slider{
    width: 100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-top:4rem;
    overflow:hidden;
}
.home .home-slider .slide{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap:wrap;
    gap:3rem;
    padding-top:6rem;

}


.home .home-slider .slide .content{
    flex: 1 1 40rem;
}

.home .home-slider .slide .image{
    flex: 1 1 40rem;
}

.home .home-slider .slide .image img{
    width:100%;
}

.home .home-slider .slide .content span{
    color:var(--dark-orange);
    font-size:3.5rem;
    font-weight:600;
}

.home .home-slider .slide .content h3{
    color:var(--orange);
    font-size:3.5rem;
    font-weight:400;
}

.home .home-slider .slide .content p{
    color:var(--dark-orange);
    font-size:1.5rem;
    line-height:1.5rem;
    padding:.5rem;
    margin-bottom:1.5rem;
}
.home .home-slider .slide .content a i{
    margin-right: 1.2rem;
}
.btn{
    margin-top:1.3rem;
    display:inline-block;
    font-size:1.7rem;
    color:#fff;
    background:var(--orange);
    border-radius:10rem;
    cursor:pointer;
    padding:.8rem 3rem;

}
.btn:hover{
    letter-spacing: .1rem;
    background-color: var(--light-orange);
}

.swiper-pagination-bullet-active{
    background-color: var(--orange);
}

.sub-heading{
    text-align:center;
    color:var(--dark-orange);
    font-size:1.5rem;
    padding-top:1rem;
}

.heading{
    text-align:center;
    color:var(--orange);
    font-size:2.5rem;
    font-weight:600;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.dishes{
    background-color: #eee;
    padding-top: 10rem;
    padding-bottom:10rem;


}
.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:2rem;
}

.dishes .box-container .box .image{
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dishes .box-container .box{
    padding:2.5rem;
    background:#fff;
    border-radius:.5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow:hidden;
    text-align:left;
}


.dishes .box-container .box .fa-heart{
    position:absolute;
    top:1.5rem;
    background-color:#eee;
    border-radius:50%;
    height:3rem;
    width:3rem;
    line-height:3rem;
    font-size:1.3rem;
    color: var(--orange);
    text-align: center;
}

.dishes .box-container .box .fa-heart{
    left:-15rem;
}

.dishes .box-container .box .fa-heart:hover{
    color:#fff;
    background:var(--orange);
    transform: scale(1.09);
}
.dishes .box-container .box:hover .fa-heart{
    left: 1.5rem;
}
.dishes .box-container .box .image img{
    width:100%;
    
}


.dishes .box-container .box h3{
    color: var(--dark-orange);
    font-size: 1.6rem;

}


.dishes .box-container .box  .stars{
    padding: .6rem 0;
}
.dishes .box-container .box .stars i{
    font-size: 1.2rem;
    color: var(--light-orange)
    
}

.dishes .box-container .box span{
    color:var(--dark-orange);
    font-size: 1.5rem;
    font-weight:600;
    display:block;
}

.dishes .box-container .box a i{
    margin-right:.4rem;
}

.dishes .box-container .box .cart-btn{
    padding:.8rem 1.5rem;
    font-size:1.3rem;
}
.about{
    width:100%;
    padding-bottom:10rem;
}
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    width:100%;

}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .image img{
    width:100%;
}

.about .row .content p{
    color: var(--dark-orange);
    font-size: 1.5rem;
}

.icons-container{
    display: flex;
    align-items:center;
    gap: 1.5rem;
    flex-wrap:wrap;
    padding:1rem 0;
    margin-top:.5rem;
}

.icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border: .1rem solid var(--light-orange);
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 13rem;
    padding: 1.2rem 1rem;
}

.icons-container .icons i{
    font-size:1.5rem;
    color:var(--light-orange);

}

.icons-container .icons span{
    font-size:1.2rem;
    color: var(--light-orange);
    font-weight:600;
}


.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.menu{
    background:#eee;
    padding-bottom:10rem;
    padding-top:10rem;
    
}


.menu .box-container .box{
    background: #fff;
    border-radius:.5rem;
    box-shadow: var(--box-shadow);
    padding: 2.5rem;
}

.menu .box-container .box .image{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    overflow: hidden;
    height:25rem;
    padding: 1.3rem;
    position:relative;
}

.menu .box-container .box .image img{
    height:100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:1rem; left:1rem;
    height:3.5rem;
    width:3.5rem;
    line-height:3.5rem;
    text-align: center;
    font-size: 1.5rem;
    background:#eee;
    border-radius:50%;
    color:var(--light-orange);

    
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--light-orange);
    color:#fff;
}

.menu .box-container .box .content .stars{
    padding-bottom:.5rem;

}
.menu .box-container .box .content{
    position:relative;
}
.menu .box-container .box .content .stars span{
    font-size:1.2rem;
    padding-left: .4rem;
    color: var(--orange);
}
.menu .box-container .box .content .stars i{
    font-size: 1.4rem;
    height:2.4rem;
    width:2.4rem;
    line-height:2.4rem;
    text-align: center;
    background:#eee;
    border-radius:50%;
    color: var(--light-orange);
}
.menu .box-container .box a i{
    margin-right:.6rem;
    font-size:1.5rem;
}

.menu .box-container .box .content h3{
    color: var(--dark-orange);
    font-size: 2rem;
    margin-bottom: 1.5rem;

}
.menu .box-container .box .content p{
    color: var(--dark-orange);
    font-size:1.4rem;
    line-height:1.5rem;
}

.menu .box-container .box .content .price{
    font-size: 1.5rem;
    color:var(--dark-orange);
    font-weight:600;
    position:absolute;
    top:0; right: 1rem;
}

.swiper-container{
    overflow:hidden;
}

.review .slide{
    padding:2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid #eee;
    border-radius: .5rem;
    position: relative;    

}

.review .slide .fa-quote-right{
    position: absolute;
    top: 2rem; right:2rem;
    font-size:4.5rem;
    color:#ccc;
}

.review .slide .user{
    display:flex;
    gap:1.5rem;
    align-items:center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit:cover;
}

.review .slide .user h3{
    color:var(--dark-orange);
    font-size: 1.7rem;
    padding-bottom: .5rem;
}


.review .slide .user i {
    font-size:1.3rem;
    color:var(--light-orange);
}

.review .slide p{
    font-size:1.2rem;
    line-height: 1.5rem;
    color:var(--dark-orange);
}

.order{
    background-color:#EEE;
    padding-bottom:10rem;
    padding-top:10rem;


}

.order form{
    
    max-width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background:#fff;
    padding: 1.5rem;
    margin:0 auto;
    
}


    .order form .inputBox{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }

    .order form .inputBox .input{
        width:49%;
    }


    .order form .inputBox .input span{
        display: block;
        padding: .5rem 0;
        font-size:1.5rem;
        color: var(--dark-orange);
    }

    .order form .inputBox .input input,
    .order form .inputBox .input textarea{
        background:#eee;
        border-radius:.5rem;
        padding: 1rem;
        font-size: 1.6rem;
        color: #000;
        text-transform: none;
        margin-bottom: 1rem;
        width: 100%;
    }
    .order form .inputBox .input textarea{
        height: 20rem;
        resize:none;
    }

    .order form .btn{
        margin-top: 0;
    }

    .footer{
        background-color:  rgb(24, 13, 0);
    }

    .footer .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
        gap: 1.5rem;
    }
    
    .footer .box-container .box h3{
        padding: .5rem 0;
        font-size: 1.85rem;
        color: var(--orange);
    }

    .footer .box-container .box a{
        display:block;
        padding: .5rem 0;
        font-size: 1.2rem;
        color: #969696;
    }

    .footer .box-container .box a:hover{
        color:#fff;
       
    }

    .footer .credit{
        text-align:center;
        border-top: .1rem solid var(--orange);
        font-size:1.5rem;
        color: var(--orange);
        padding: .5rem;
        padding-top: 1.5rem;
        margin-top:1.5rem;
    }














/* Media queries */
@media (max-width: 991px){
   
    section{
        padding:2rem;
    }
    .dishes .box-container .box .image img{
        height:auto;
        width: 100%;
    }
    .order form .inputBox .input{
        width:100%;
    }
    .about .row .content .image img{
        width: 100%;
        height:auto;
    }
}
 

@media (max-width: 768px){
    
    .home{
        width: 100%;
    }
    .review{
        width:100%;
    }
}

